
# requirements for RS Scripts :

torch
transformers
sentence_transformers
nltk
pysrt
scikit-learn # will be installed automatically


# requirements for Plot Movie Topics :

pandas
gensim
matplotlib
wordcloud


# next packages will be installed allready as a dependency
numpy
tqdm
regex
